@media only screen and (min-width: 990px) {

    .hide-on-lg {
        display: none;
    }

    .hide-on-sm {
        display: block !important;
    }

    .div-one {
        width: 50%;
    }

    .div-two {
        width: 50%;
    }
}
